In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
sns.set()

In [2]:
data = pd.read_csv('test.csv')
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [3]:
data['Deck'] = data['Cabin']
data['Side'] = data['Cabin']
for i in range(data.shape[0]):
    if (data['Cabin'].isnull()[i] ==False):
        data['Deck'][i] = data['Cabin'][i].split('/')[0]
        data['Side'][i] = data['Cabin'][i].split('/')[2]

C:\Users\mosta\AppData\Local\Temp\ipykernel_23024\3637488914.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Deck'][i] = data['Cabin'][i].split('/')[0]
C:\Users\mosta\AppData\Local\Temp\ipykernel_23024\3637488914.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Side'][i] = data['Cabin'][i].split('/')[2]

In [4]:
data.drop(['Name'] , axis = 1 , inplace = True)

In [5]:
data['Age'].fillna(data['Age'].mean() , inplace = True)
data['RoomService'].fillna(0 , inplace = True)
data['FoodCourt'].fillna(0 , inplace = True)
data['ShoppingMall'].fillna(0 , inplace = True)
data['Spa'].fillna(0 , inplace = True)
data['VRDeck'].fillna(0 , inplace = True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
 12  Deck          4177 non-null   object
 13  Side          4177 non-null   object
dtypes: float64(6), object(8)
memory usage: 467.9+ KB

In [7]:
for i in data.columns:
    data[i].fillna('Missing' , inplace = True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   object
 3   Cabin         4277 non-null   object
 4   Destination   4277 non-null   object
 5   Age           4277 non-null   float64
 6   VIP           4277 non-null   object
 7   RoomService   4277 non-null   float64
 8   FoodCourt     4277 non-null   float64
 9   ShoppingMall  4277 non-null   float64
 10  Spa           4277 non-null   float64
 11  VRDeck        4277 non-null   float64
 12  Deck          4277 non-null   object
 13  Side          4277 non-null   object
dtypes: float64(6), object(8)
memory usage: 467.9+ KB

In [9]:
data.drop('Cabin' , axis = 1 , inplace = True)
data.dropna(inplace =True)

In [10]:
data_dummies = data.copy()

In [11]:
passenger = data_dummies['PassengerId']
data_dummies.drop('PassengerId' ,axis = 1, inplace = True)

In [12]:
data_dummies = pd.get_dummies(data_dummies, drop_first=False)

In [13]:
data_dummies.shape

(4277, 32)

In [14]:
data_dummies = data_dummies.join(passenger)

In [15]:
data_dummies.to_csv('test_cleaned.csv')

In [16]:
data_dummies.columns.tolist()

['Age',
 'RoomService',
 'FoodCourt',
 'ShoppingMall',
 'Spa',
 'VRDeck',
 'HomePlanet_Earth',
 'HomePlanet_Europa',
 'HomePlanet_Mars',
 'HomePlanet_Missing',
 'CryoSleep_False',
 'CryoSleep_True',
 'CryoSleep_Missing',
 'Destination_55 Cancri e',
 'Destination_Missing',
 'Destination_PSO J318.5-22',
 'Destination_TRAPPIST-1e',
 'VIP_False',
 'VIP_True',
 'VIP_Missing',
 'Deck_A',
 'Deck_B',
 'Deck_C',
 'Deck_D',
 'Deck_E',
 'Deck_F',
 'Deck_G',
 'Deck_Missing',
 'Deck_T',
 'Side_Missing',
 'Side_P',
 'Side_S',
 'PassengerId']

In [17]:
data_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4277 entries, 0 to 4276
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        4277 non-null   float64
 1   RoomService                4277 non-null   float64
 2   FoodCourt                  4277 non-null   float64
 3   ShoppingMall               4277 non-null   float64
 4   Spa                        4277 non-null   float64
 5   VRDeck                     4277 non-null   float64
 6   HomePlanet_Earth           4277 non-null   uint8
 7   HomePlanet_Europa          4277 non-null   uint8
 8   HomePlanet_Mars            4277 non-null   uint8
 9   HomePlanet_Missing         4277 non-null   uint8
 10  CryoSleep_False            4277 non-null   uint8
 11  CryoSleep_True             4277 non-null   uint8
 12  CryoSleep_Missing          4277 non-null   uint8
 13  Destination_55 Cancri e    4277 non-null   uint8
 14  Destination_Missing        4277 non-null   uint8
 15  Destination_PSO J318.5-22  4277 non-null   uint8
 16  Destination_TRAPPIST-1e    4277 non-null   uint8
 17  VIP_False                  4277 non-null   uint8
 18  VIP_True                   4277 non-null   uint8
 19  VIP_Missing                4277 non-null   uint8
 20  Deck_A                     4277 non-null   uint8
 21  Deck_B                     4277 non-null   uint8
 22  Deck_C                     4277 non-null   uint8
 23  Deck_D                     4277 non-null   uint8
 24  Deck_E                     4277 non-null   uint8
 25  Deck_F                     4277 non-null   uint8
 26  Deck_G                     4277 non-null   uint8
 27  Deck_Missing               4277 non-null   uint8
 28  Deck_T                     4277 non-null   uint8
 29  Side_Missing               4277 non-null   uint8
 30  Side_P                     4277 non-null   uint8
 31  Side_S                     4277 non-null   uint8
 32  PassengerId                4277 non-null   object
dtypes: float64(6), object(1), uint8(26)
memory usage: 504.9+ KB